* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clr {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
}
.clr-after {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
body,
font,
td,
form,
p {
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}
body {
  margin: 0;
}
a {
  color: #0088ff;
  text-decoration: none;
}
a:hover {
  color: #66aaff;
  text-decoration: underline;
}
.logo {
  background: url(logo_32.png) no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.logo64 {
  background: url(logo_64.png) no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
}
#sky {
  margin: 0 auto;
  padding: 10px 0;
  width: 1000px;
  position: relative;
}
#sky .left img {
  width: 24px;
  height: 24px;
  border: 0;
  vertical-align: middle;
}
#sky .left i {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  line-height: 36px;
  font-style: normal;
  font-size: 16px;
  margin: 0 4px;
  color: #444;
  text-shadow: 0 0 1px #888;
}
#sky .right {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  font-size: 12px;
}
#sky .right a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  color: #888;
  margin: 0 20px;
  padding: 0 8px;
  line-height: 46px;
  border-top: 3px solid #FFF;
}
#sky .right a:hover {
  border-color: #F80;
  color: #F80;
}
#sky:after {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
#menu {
  background-color: #EEE;
  padding: 8px;
  border-width: 1px 0 1px 0;
  border-color: #DDD;
  border-style: solid;
}
#menu .menu_inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
#menu .menu_inner .slogan {
  position: absolute;
  top: 0;
  left: 0;
}
#menu .menu_inner .slogan em {
  display: block;
  font-size: 10px;
  color: #AAA;
  font-style: normal;
}
#menu .menu_inner .menu_items {
  padding-left: 180px;
}
#menu .menu_inner .menu_items a {
  display: block;
  float: left;
  font-size: 12px;
  padding: 0 16px;
  text-shadow: 0 0 1px #AAA;
  border-left: 1px solid #DDD;
}
#menu .menu_inner .menu_items a:hover {
  color: #08F;
}
#menu .menu_inner .menu_items:after {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
#footer {
  border-top: 1px dashed #BCF;
  margin: 0;
  padding: 10px 0 40px 0;
  text-align: center;
  font-weight: normal;
  color: #BCF;
  font-size: 12px;
  height: 400px;
}
#footer div.footer-logo {
  padding: 10px;
}
html,
body {
  height: 100%;
}
.fe {
  background-color: #000;
  height: 480px;
  position: relative;
}
.fe .slider-con {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.fe .slider-con .slider {
  padding: 0;
  margin: 0;
  list-style: none;
  transition: 1.2s;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100000px;
}
.fe .slider-con .slider li {
  height: 480px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.fe .slider-con .slider:after {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
.fe .slider-switcher {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  z-index: 1000;
}
.fe .slider-switcher ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.fe .slider-switcher ol li {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.fe .slider-switcher ol li[highlight] {
  height: 14px;
  width: 14px;
  border-radius: 20px;
  background: rgba(255, 128, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.fe .fe-con {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
}
.fe .fe-con > div {
  width: 100%;
  height: 100%;
  position: relative;
}
.fe .fe-con > div section {
  position: absolute;
}
.fe .fe-con > div section h4 {
  padding: 8px;
  margin: 0;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.fe .fe-con > div section a {
  color: #00F;
  text-decoration: none;
}
.fe .fe-con > div section a:hover {
  color: #A40;
  text-decoration: underline;
}
.fe .fe-con > div section:first-child {
  width: 400px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 6px;
  color: #444;
}
.fe .fe-con > div section:first-child h4 {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.fe .fe-con > div section:first-child .tip {
  text-align: center;
}
.fe .fe-con > div section:first-child .tip img {
  width: 150px;
}
.fe .fe-con > div section:last-child {
  width: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 6px;
  color: #CCC;
}
.fe .fe-con > div section:last-child h4 {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}
.fe .fe-con > div section:last-child a {
  color: #DDD;
  text-decoration: none;
}
.fe .fe-con > div section:last-child a:hover {
  color: #FFF;
  text-decoration: underline;
}
.fe .fe-con > div section:last-child a.downbtn {
  display: block;
  padding: 8px;
  text-align: center;
  background: #08F;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #333;
}
.fe .fe-con > div section:last-child a.downbtn:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.fe .fe-con > div section:last-child .morelink {
  padding: 10px;
  text-align: center;
}
.arena {
  margin: 10px auto;
  padding: 10px 0;
  width: 800px;
  font-size: 14px;
  line-height: 32px;
}
.arena .column {
  float: left;
  width: 266.66666667px;
}
.arena .column h4 {
  padding: 0;
  margin: 0;
}
.arena .column ul {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0 0 0 12px;
  border-left: 3px solid #EEE;
}
.arena:after {
  clear: both;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  display: block;
  content: "";
}
