#footer {
    border-top:1px dashed #BCF;
    margin:0;
    padding:10px 0 40px 0;
    text-align:center;
    font-weight:normal;
    color:#BCF;
    font-size:12px;
    height: 400px;

    div.footer-logo {
        padding:10px;
    }
}