@import "_base.less";
@import "_footer.less";

@main-width : 800px;

#sky {
    padding:20px;
    .sky-inner {
        width: @main-width;
        margin: 0 auto;
        a {position:absolute; font-size:18px; color:#888;}
        a:hover {text-decoration:none; color:#AAA;}
        img {display:block; margin:0 auto;}
    }
}

#arena {
    width:@main-width;
    margin:0px auto;
    h3 {
        padding:10px 16px; background-color:#EEE; border-radius:4px;
        font-size:14px;
    }
    th {font-weight:normal;font-size:10px;}
}

.dlist {
    table {
        margin:20px 0 50px 0;
        tr:nth-child(2n){
            background:#E0E0E0;
        }
        td {
            font-size:12px;
            padding:4px;
        }
        .di-down {
            a {
                display:inline-block; background:url(sprites.png) no-repeat;
                width:24px; height:24px;
                opacity:0.5;
            }
            a:hover {opacity:1.0;}
        }
        .di-nm {
            em {margin-left:10px;color:#888;}
        }
        .di-ct, .di-sz, {text-align:right;font-size:10px;}
        .di-ct {color:#888;}
        thead {.dlist-sz {padding:2px;text-align:right;}}
        tfoot {.dlist-sz {padding:8px;text-align:center;}}
        .dlist-col-titles th{
            padding:6px;
            background-color:#57A;
            color:#FFF;
        }
    }
    em {font-style:normal;}
    
}

@dinfo-width :400px;
.dinfo {
    .di-comm {
        font-weight:bold;
        font-size:16px;
        text-align:center;
        padding:16px 0;
    }
    table {
        width:@dinfo-width; margin:20px auto;
        td {padding:6px; font-size:14px;}
        .fldnm {text-align:right; color:#AAA;}
        .fldval{color:#080; font-size:16px;}
    }
    a.down-btn {
        display:block; width:@dinfo-width; margin:20px auto;
        padding:14px; border-radius:4px; background-color:#08F;
        color:#FFF; cursor:pointer;
        text-align:center; font-size:16px;
    }
    a.down-btn:hover {
        background-color:#3AF; color:#FF0; text-decoration:none;
    } 
}
















