<div id="nutz-home">
    <div id="release-bg" class="carousel slide" data-ride="carousel" data-interval="2500">
        <ol class="carousel-indicators">
            <li data-target="#release-bg" :data-slide-to="n - 1" :class="{active: n -1 == 0}" v-for="n in carousel"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item" :class="{active: n - 1 == 0}" v-for="n in carousel">
                <img class="d-block img-fluid" :src="cimg(n -1)" >
            </div>
        </div>
        <section class="fe-right">
            <h4>Nutz {{version}}({{name}})发布</h4>
            <ul>
                <li>遵循<a href="https://github.com/nutzam/nutz/blob/master/License.txt">Apache协议</a>,永久免费,完整开源,商用也是免费</li>
                <li>体积小巧(1M+) 且无依赖</li>
                <li>功能强大: Dao/Mvc/Json/Ioc/Aop以及各种帮助函数</li>
                <li>全面的文档 + 极低的学习曲线</li>
                <li>1000+ JUnit 保证质量坚若磐石</li>
                <li>数年来被广泛应用到包括服务器，Android，嵌入式等各种开发场景</li>
                <li>活跃的 <a target="_blank" href="https://github.com/nutzam/nutz/issues">Issue 列表</a>推动功能不断进化</li>
                <li>充满JI情的<a target="_blank" href="https://nutz.cn">社区</a> ...</li>
            </ul>
            <a class="downbtn" href="https://downloads.nutzam.com">下载 Nutz {{version}}</a>
            <div class="morelink">
                <a href="/core/nutz_release_notes.html">Nutz {{version}} 发行注记</a>
            </div>
        </section>
    </div>
    <div class="container fetures-container">
        <div class="row">
            <div class="col-md-4 col-sm-12 fe-item">
                <h4>最新更新</h4>
                <ul>
                    <li><a target="_blank" href="https://jfrog.nutz.cn/artifactory/snapshots/org/nutz/nutz/">最新Nutz.jar</a>
                    <li><a target="_blank" href="https://github.com/nutzam/nutz/commits/master">最新的代码提交</a>
                    <li><a target="_blank" href="https://github.com/nutzam/nutz/graphs/contributors">贡献者们</a>
                </ul>
            </div>
            <div class="col-md-4  col-sm-12 fe-item">
                <h4>相关资源</h4>
                <ul>
                    <li ><a style="color: #f00;" target="_blank" href="https://gitee.com/nutz/nutz">Nutz@码云</a>
                    <li><a href="https://downloads.nutzam.com">下载列表</a>
                    <li><a href="https://github.com/nutzam/nutz/releases">发布列表</a>
                    <li><a target="_blank"href="https://github.com/nutzam/nutz/issues?labels=FAQ&milestone=&page=1&state=closed">FAQ</a>
                    <li><a target="_blank" href="https://github.com/nutzam/nutz">Nutz@Github</a>
                </ul>
            </div>
            <div class="col-md-4  col-sm-12 fe-item">
                <h4>社区</h4>
                <ul>
                    <li><a target="_blank" href="https://nutz.cn">Nutz官方社区</a> <i>(你的问题总会被解答)</i>
                    <li><a target="_blank" href="http://qun.qq.com/air/#68428921"> Nutz社区群：68428921</a></li>
                    <li><a target="_blank" href="http://qun.qq.com/air/#58444676"> Nutz老群：58444676</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el: "#nutz-home",
        data: {
            name: "香梨",
            version: "1.r.63",
            carousel: 2
        },
        methods: {
            cimg: function (n) {
                if(n < 10){
                    n = "0" + n;
                }
                return "../imgs/"+ this.version + "/" + n + ".jpg";
            }
        }
    })
</script>