$nutz-blue: #7da7d9;
$nutz-grey: #898989;
$nutz-border-color: #f0f0f0;
$nutz-doc-bg: #fafafa;
$nutz-doc-color: #949393;
$nutz-doc-hover-color: #000;
$nutz-doc-hover-bg: #FFA;

$nutz-doc-blockquote: #888;
$nutz-doc-blockquote-left: #CCC;

$nutz-doc-h1: #000;
$nutz-doc-h2: #00C;
$nutz-doc-h3p: #000000;

$nutz-doc-pre: #126;