body {
  padding-top: 58px; }
  body.show-sidetree .doc-sidetree {
    display: block; }
  body.show-sidetree .doc-container {
    padding-left: 275px; }
  body.show-sidetree .doc-content, body.show-sidetree .doc-title, body.show-sidetree .doc-info {
    opacity: 0.3;
    overflow: hidden; }

.navbar-container {
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #f0f0f0;
  background: white; }
  .navbar-container .navbar .navbar-brand .brand-logo {
    vertical-align: middle;
    position: relative;
    display: inline-block; }
  .navbar-container .navbar .navbar-brand .brand-img {
    width: 30px;
    height: 30px; }
  .navbar-container .navbar .navbar-brand .logo-tail {
    position: absolute;
    z-index: -100;
    top: -18px;
    left: -11px;
    width: 30px;
    height: 20px;
    border-right: 5px solid #7DA7D9;
    border-bottom-right-radius: 60px 45px;
    -moz-transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -ms-transform-origin: bottom right;
    -ms-transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -webkit-transform: rotate(-90deg);
    transform-origin: bottom right;
    transform: rotate(-90deg);
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: tail-wobble;
    animation-name: tail-wobble; }
@-webkit-keyframes tail-wobble {
  0% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }
  15% {
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg); }
  30% {
    transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg); }
  45% {
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg); }
  60% {
    transform: rotate(-100deg);
    -webkit-transform: rotate(-100deg); }
  75% {
    transform: rotate(-95deg);
    -webkit-transform: rotate(-95deg); }
  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); } }
@keyframes tail-wobble {
  0% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }
  15% {
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg); }
  30% {
    transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg); }
  45% {
    transform: rotate(-80deg);
    -webkit-transform: rotate(-80deg); }
  60% {
    transform: rotate(-100deg);
    -webkit-transform: rotate(-100deg); }
  75% {
    transform: rotate(-95deg);
    -webkit-transform: rotate(-95deg); }
  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); } }
  .navbar-container .navbar .navbar-brand .brand-text {
    font-size: 1.45rem;
    padding-left: 3px;
    vertical-align: middle; }
  .navbar-container .navbar .dropdown-menu {
    overflow: hidden; }

.fetures-container {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .fetures-container .fe-item {
    margin-bottom: 1.2rem; }
  .fetures-container h4 {
    margin-bottom: 1.2rem; }
  .fetures-container ul {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
    border-left: 3px solid #EEE; }
    .fetures-container ul li {
      padding: 0.5rem 0; }

.footer-container {
  padding: 0 0 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: #c8c9ca;
  background: #717071; }
  .footer-container .footer-follow {
    margin-top: 30px; }
  .footer-container .footer-info img {
    height: 70px; }
  .footer-container ul.social {
    margin: 1rem auto;
    padding: 0;
    width: 100%;
    text-align: center; }
    .footer-container ul.social > li {
      display: inline-block; }
      .footer-container ul.social > li > a {
        display: inline-block;
        font-size: 18px;
        line-height: 30px;
        height: 30px;
        width: 30px;
        border-radius: 36px;
        background-color: #FFF;
        color: #898989;
        margin: 0 3px 3px 0; }
        .footer-container ul.social > li > a:hover {
          text-decoration: none;
          background-color: #7da7d9;
          color: #FFF; }

.to-top {
  padding: 2px 4px;
  background: #7da7d9;
  color: #FFF;
  border-radius: 2px; }

#release-bg img {
  height: 370px;
  max-width: inherit; }
#release-bg .carousel-indicators {
  display: none; }
@media (min-width: 576px) {
  #release-bg img {
    height: 310px;
    max-width: inherit; }
  #release-bg .carousel-indicators {
    display: none; } }
@media (min-width: 768px) {
  #release-bg img {
    height: 310px;
    max-width: inherit; }
  #release-bg .carousel-indicators {
    display: none; } }
@media (min-width: 992px) {
  #release-bg img {
    height: 440px; } }
@media (min-width: 1200px) {
  #release-bg img {
    height: 540px; } }

section.fe-right {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 370px;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  color: #CCC;
  border-radius: 0px;
  width: 100%;
  height: 370px;
  top: 0;
  right: 0; }
  section.fe-right h4 {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem; }
  section.fe-right a {
    color: #DDD;
    text-decoration: none; }
  section.fe-right a:hover {
    color: #FFF;
    text-decoration: underline; }
  section.fe-right a.downbtn {
    display: block;
    padding: 8px;
    text-align: center;
    background: #08F;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 2px 2px 6px #333; }
  section.fe-right a.downbtn:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
  section.fe-right .morelink {
    display: none;
    padding: 10px;
    text-align: center; }
  section.fe-right .morelink {
    display: none; }
  @media (min-width: 576px) {
    section.fe-right {
      border-radius: 0px;
      width: 100%;
      top: 0;
      right: 0;
      height: 310px; }
      section.fe-right .morelink {
        display: none; } }
  @media (min-width: 768px) {
    section.fe-right {
      border-radius: 0px;
      width: 100%;
      top: 0;
      right: 0;
      height: 310px; }
      section.fe-right .morelink {
        display: none; } }
  @media (min-width: 992px) {
    section.fe-right {
      width: 400px;
      top: 20px;
      right: 60px;
      height: auto;
      border-radius: 6px; }
      section.fe-right .morelink {
        display: block; } }
  @media (min-width: 1200px) {
    section.fe-right {
      width: 400px;
      top: 60px;
      right: 150px;
      height: auto;
      border-radius: 6px; }
      section.fe-right .morelink {
        display: block; } }

.doc-sidetree {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 270px;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-right: 1px solid #f0f0f0;
  background: #fafafa;
  overflow-y: auto;
  overflow-x: hidden; }
  .doc-sidetree .doc-sidetree-inner {
    width: 100%; }
  .doc-sidetree ol {
    margin: 0;
    padding-left: 25px; }
    .doc-sidetree ol li {
      padding: 2px 0;
      color: #949393; }
      .doc-sidetree ol li a.current, .doc-sidetree ol li a.current:hover {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        background-color: #FFA; }
      .doc-sidetree ol li.hidesub b:after {
        content: "..."; }
      .doc-sidetree ol li.hidesub ol {
        display: none; }
      .doc-sidetree ol li ol {
        padding-left: 15px; }

.doc-container {
  margin-bottom: 2.5rem;
  position: relative; }
  .doc-container .doc-menu {
    margin-bottom: 0.5rem;
    margin-left: 0.05rem; }
  .doc-container .doc-btn {
    color: #7da7d9;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out; }

.doc-title {
  font-size: 28px;
  font-weight: bold;
  padding: 16px;
  padding-top: 30px;
  text-align: center; }

.doc-info {
  padding: 8px 20px;
  text-align: center; }
  .doc-info > div {
    margin-bottom: 0.3rem; }
  .doc-info .doc-lm {
    font-size: 1rem;
    float: left;
    color: #CCC;
    font-family: Times; }
  .doc-info .doc-au {
    font-size: 1rem;
    float: right;
    padding: 0 10px; }
    .doc-info .doc-au i, .doc-info .doc-au em, .doc-info .doc-au b {
      font-style: normal;
      color: #AAA; }

.doc-content p {
  margin: 1rem 0;
  padding: 0 0.5rem; }
.doc-content blockquote {
  border-left: 3px solid #CCC;
  margin: 10px 10px;
  padding: 4px 5px;
  font-size: 1rem;
  color: #888; }
.doc-content .pa-img img {
  display: block;
  border: 0px;
  max-width: 640px; }
  @media (max-width: 767px) {
    .doc-content .pa-img img {
      width: 100%; } }
.doc-content blockquote p {
  margin: 0px; }
.doc-content i {
  color: #666; }
.doc-content .doc-hr {
  margin: 16px 0;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  border-top: 1px dashed #CCC; }
.doc-content h1 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin: 2px;
  padding: 5px; }
.doc-content h2 {
  color: #00C;
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
  padding-left: 10px; }
.doc-content h3, .doc-content h4, .doc-content h5, .doc-content h6 {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  padding: 5px;
  padding-left: 20px; }
.doc-content table {
  margin: 5px 10px; }
.doc-content pre {
  color: #126;
  font-family: Courier New;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  padding: 10px;
  margin: 0 10px;
  background-color: #EEE;
  border: 1px dashed #BBB;
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: auto; }
.doc-content code {
  margin: 0 2px;
  padding: 0 4px; }
.doc-content ul, .doc-content ol {
  margin-left: 50px;
  padding-left: 20px; }
  @media (max-width: 767px) {
    .doc-content ul, .doc-content ol {
      margin-left: 20px;
      padding-left: 10px; } }
.doc-content ul ul, .doc-content ul ol, .doc-content ol ol, .doc-content ol ul {
  margin-left: 10px;
  padding-left: 10px; }

/*# sourceMappingURL=nutzam.css.map */
